@font-face {
	font-family: 'corbel';
	src: url(fonts/corbel.ttf);
}
@font-face {
	font-family: 'corbelb';
	font-style: bold;
	src: url(fonts/corbelb.ttf);
}
@font-face {
	font-family: 'corbeli';
	font-style: italic;
	src: url(fonts/corbeli.ttf);
}
@font-face {
	font-family: 'corbeli';
	font-style: italic;
	src: url(fonts/corbeli.ttf);
}
@font-face {
	font-family: 'msmincho';	
	src: url(fonts/msmincho.ttc);
}
@font-face {
	font-family: 'vrinda';	
	src: url(fonts/vrinda.ttf);
}
@font-face {
	font-family: 'vrindab';
	font-style: bold;
	src: url(fonts/vrindab.ttf);
}
@font-face{
	font-family: 'HLButLong';
	font-style: normal;
	src: url(fonts/hlblong.ttf);
}
/*-------------------------------------------------*/
/*common*/
/*-------------------------------------------------*/
/** {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/
body{
	background-color: #151515;	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
}
div{
	box-sizing: border-box;
}
.left{
	float: left !important;
}
.right{
	float: right !important;
}
form label {
	font-family: Vrinda, tahoma;
	font-size: 20px;
	color: #837752;	
	display: inline-block;
}
form input[type="submit"]{	
	font-family: Vrinda, tahoma;
	color:#837752;
	font-size: 22px;
	background: url('images/btn-submit.png') no-repeat;
	width: 143px;
	height: 48px;
	border: none;
	text-align: center;
}
#main-content {
	margin-bottom: 20px;
}
/*-------------------------------------------------*/
/*header*/
/*-------------------------------------------------*/
header{
	margin-bottom: 21px;	
	border-bottom: 1px solid #2d2d2d;	
}
header .searchbox{
	padding: 23px 0 21px 0;
}
#languages{
	background-image: url(images/earth.png);
	background-repeat: no-repeat;
	font-family: 'corbel', cursive;
	color: #c2c1c1;
	font-size: 13px;
	line-height: 16px;
	padding-left: 20px;
}
form#search{	
	line-height: 16px;
}
form#search input{
	width: 119px;
	height: 14px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	background-color: #2e2e2e;
	border-radius: 6px;
	border: none;
	padding-left: 6px;
	font-family: 'msmincho', sans-serif;
}
/*-------------------------------------------------*/
/*logo and top menu*/
/*-------------------------------------------------*/
#nav-logo{
	background-image: url(images/bg_top.jpg);
	background-repeat: repeat-x;
	height: 100px;
}

nav {
	height: 47px;
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul a
{
	font-family: 'vrinda', sans-serif; /*font design: Vrinda*/
	font-size: 17px;
	display:block;
	color:#c2c1c1;
	text-transform: uppercase;
	text-decoration:none;		
	line-height:1;
	padding:15px;
	
}
#primary_nav_wrap ul li.current-menu-item a,
#primary_nav_wrap ul a:hover{
	color: #837752;
}
#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#272727;
}

#primary_nav_wrap ul li:hover
{
	background:#272727;
}

#primary_nav_wrap ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #272727;
	padding: 0;
	width: 500px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#primary_nav_wrap ul ul li
{
	float: left;
	width: 131px;
	padding: 0 15px 0 18px;
}

#primary_nav_wrap ul ul a
{
	font-size: 13px;
	line-height: 17px;
	color: #837752;
	padding: 0;
	display: inline;
}
#primary_nav_wrap ul ul a:hover{
	background-color: #eeeeee;
}
#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}
/*-------------------------------------------------*/
/* breadcrum*/
/*-------------------------------------------------*/
#breadcrum{
	border-top: 1px solid #2d2d2d;	
	padding: 24px 0;
}
.breadcrum {
	padding-left: 15px;
	font-family: Vrinda, tahoma;
	font-size: 15px;
	color: #c8c8c8;
}
.breadcrum a{
	font-family: Vrinda, tahoma;
	font-size: 15px;
	color: #c8c8c8;
	text-decoration: none;
	text-transform: uppercase;
}
.breadcrum a:hover{
	text-decoration: underline;
}
/*-------------------------------------------------*/
/* footer*/
/*-------------------------------------------------*/
footer{
	border-top: 1px solid #212121;
	font-size: 15px;
	color: #fff;	
}

footer .container_12 .grid_12 div{
	box-sizing: border-box;
	float: left;
}
footer h3{
	font-size: 22px;
	line-height: 18px;
	padding: 23px 0;
}

footer a{
	color: #fff;
	text-decoration: none;
}
footer .tags{
	padding-left: 16px;
	width: 362px;
	height: auto;
}
footer .tags a{
	border: 1px solid #828282;
	padding: 9px 18px;	
	float: left;
	margin-right: 10px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 13px;
}
footer .contact{	
	width: 343px;
	height: auto;	
}
footer .contact .title{
	text-transform: uppercase;
	padding-left: 40px;
}
footer .contact .content{
	border-left: 1px solid #212121;
	padding-left: 40px;
	border-right: 1px solid #212121;
	padding-right: 40px;
	
}

footer .contact p{	
	line-height: 27px;
	font-family: Century Gothic, tahoma;
}
footer .links{
	width: 233px;	
}
footer .links .title{
	text-align: center;
}
footer .links .content{
	padding-left: 22px; 
	
}
/*-------------------------------------------------*/
/* copyright*/
/*-------------------------------------------------*/
.copyright{
	border-top: 1px solid #212121;
	font-family: Calibri, sans-serif;	
	font-size: 20px;
	line-height: 18.5px;
	padding: 18px;
	color: #fff;
}

/*-------------------------------------------------*/
/* Home page*/
/*-------------------------------------------------*/
h1{
	font-size: 38.91px;
	color: #f4f4f4;
	font-family: 'adobemyungjostd-medium', sans-serif;
	text-align: center;
	margin-top: 73px;
	margin-bottom: 71px;
}
.content .grid_12{
	width: 823px;
	margin: 0 auto;
}
/*Slider*/
.slick-slider {
	margin: 30px auto 50px;
}

.top-slider .slick-slide {
	height: auto;
	width: 247px;
	position: relative; 
	margin: 0 15px;
}
.top-slider .slick-slide p{
	color: #fff;
	font-size: 13px;
	line-height: 1;
	text-align: center;
	display: none;
}
.top-slider .slick-slide img{	
	padding-top: 45px;
	height: 144px;
	width: 247px;
}
.top-slider .slick-slide.slick-active{
	opacity: 0.5;
}
.top-slider .slick-slide.slick-active.slick-center{	
	opacity: 1;
	width: 399px;
}
.top-slider .slick-slide.slick-active.slick-center img{
	width: 399px;
	height: 234px;
	padding-top: 0;
}
.top-slider .slick-slide.slick-active.slick-center p{
	display: block;
}


/*-------------------------------------------------*/
/* About us page*/
/*-------------------------------------------------*/
.about-us{

}
.about-us.introduction{}
.about-us.introduction{
	color: #fff;
	font-family: Century Gothic, sans-serif;
	font-size:15px;
	text-align: justify;
	line-height: 1;
}
.about-us.introduction .introduction-content{
	margin-bottom: 50px;
	padding-left: 15px;
	padding-right: 25px;
}
.about-us.introduction .introduction-content *{
	box-sizing:border-box;
	margin:0;
	padding:0;
	position:relative;
}

/*-------------------------------------------------*/
/* About us - Introduction page*/
/*-------------------------------------------------*/
.about-us.introduction .introduction-content .container{
	overflow:hidden;
	height: 674px;
	width: 100%;
}
.about-us.introduction .introduction-content .shaped{
	height: 674px;
	width: 496px;
	float: right;
	background: transparent url(images/about-us-introduction-img.png) right bottom no-repeat;
	background-size: auto;
	-webkit-shape-outside: polygon(80% 0, 100% 0, 100% 100%, 30% 100%);
	shape-outside: polygon(99% 0, 100% 0, 100% 100%, -20% 100%);
	-webkit-clip-path: polygon(99% 0, 100% 0, 100% 100%, -20% 100%);
	-webkit-shape-margin: 10px;
	/* -webkit-shape-outside: url(mask.png) top left; */
}
.about-us.introduction .introduction-content .content{
	margin-top: 20px;
}
.about-us.introduction .introduction-content .content p{
	margin-bottom: 20px;
	margin-top: 0;
}
.about-us.introduction .introduction-content .content p:first-child::first-letter{ 
	font-family: 'HLButLong', tahoma;
	font-size: 30px;
	line-height: 15px;
}
/*-------------------------------------------------*/
/* About us - catalogue page*/
/*-------------------------------------------------*/
.about-us.catalogue{
	margin-bottom: 40px;
}
.about-us.catalogue .listitem{
	border-right: 1px solid #313131;
}
.about-us.catalogue .listitem ul li{
	float: left;
	list-style: none;
	width: 163px;
	padding-right: 20px;
	padding-bottom: 40px;
}
.about-us.catalogue .listitem ul li div.img{
	background-color: #656565;
	height: 163px;
	width: 163px;
}
.about-us.catalogue .form-order form p label,
.about-us.catalogue .listitem ul li p{
	font-family: Vrinda, tahoma;
	font-size: 20px;
	color: #c8c8c8;
	text-transform: uppercase;
}
.about-us.catalogue .form-order{}
.about-us.catalogue .form-order h2{
	font-family: Vrinda, tahoma;
	font-size: 27px;
	color: #837752;
}
.about-us.catalogue .form-order p label{
	margin-right: 3px;  
	width: 200px;
	display: inline-block;
}
.about-us.catalogue .form-order p input[type='checkbox']{	
	display: inline-block;
}
.about-us.catalogue .form-order p button{	
	font-size: 25px;		
	float:right;	
}
/*-------------------------------------------------*/
/* Customize page*/
/*-------------------------------------------------*/
.customize .form-customize{
	padding-left: 15px;
}
.customize form p{
	font-family: Vrinda, tahoma;
	color: #c8c8c8;
}
.customize form p label{
	width: 220px;
	display: inline-block;
	color:#837752;
	font-size: 20px;
}
.customize form p input[type="text"]{
	width: 470px;
	height: 25px;
	display: inline-block;
}
.customize form p  input[type="submit"]{	
	margin-left:383px;	
}
/*-------------------------------------------------*/
/* Contact Us page*/
/*-------------------------------------------------*/
.contact-us{
	font-family: Vrinda, tahoma;
	color: #c2c1c1;

}
.contact-us h2{	 
	font-size: 20px;
	text-transform: uppercase;
}
.contact-us .contact-info p{
	font-size: 15px;
	font-family: Tunga;	
	text-transform: uppercase;
}
.contact-us .form-contact p label {
	font-family: Vrinda, tahoma;
	font-size: 20px;
	color: #837752;
	width: 126px;
	display: inline-block;
}
.contact-us .form-contact p input[type="text"]{
	width: 322px;
	height: 19px;
	box-shadow: 0px 1px 0px #000;
}
.contact-us form p input[type="submit"]{	
	margin-left:318px;
}
/*-------------------------------------------------*/
/* Product page*/
/*-------------------------------------------------*/
.product form {
	font-family: Vrinda, tahoma;
	font-size: 14px;
	color: #c8c8c8;	
	text-align: justify;
}
.product form label,
.product form span,
.product form .desc p {
	display: inline-block;
}
.product form label{
	color: #837752;
}
.product form input[type="submit"]{	
	margin-left:318px;
	float:right;
}











/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
@media (min-width: 400px) {


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
	
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

